h1{
font-size: 50px;
text-align: center;
color:darkblue;
}
h2{
text-align:center ;
}

.nigger{
background-image: url("https://t4.ftcdn.net/jpg/01/78/30/95/360_F_178309544_3fzQDhPgmAmlpDIVge7EoOZK7U7reA7X.jpg");
backdrop-filter: blur(5px);
}